{% extends "../base/base.html" %}

{% block title %}Categorias{% endblock %}
{% load static %}

{% block content %}
<section class="form-section">
    <div class="form-container">
        <div class="card">
            <form action="{% url 'categoria_create' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>
</section>

<section class="table-section mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col" class="th-actions"></th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td class="td-nome">{{ categoria.nome }}</td>
                <td class="td-desc">{{ categoria.descricao }}</td>
                <td class="td-actions">
                    <div class="edit-group">
                        <form method="post" action="{% url 'categoria_update' categoria.id %}" id="edit-form">
                            {% csrf_token %}
                            <a href="#" onclick="document.getElementById('edit-form').submit(); return false;"
                                class="edit-btn">
                                <img src="{% static 'descontrole/base/images/edit.png' %}" alt="Editar"
                                    class="icon-small">
                            </a>
                        </form>
                        <form method="post" action="{% url 'categoria_delete' categoria.id %}" id="delete-form">
                            {% csrf_token %}
                            <a href="#" onclick="document.getElementById('delete-form').submit(); return false;"
                                class="delete-btn">
                                <img src="{% static 'descontrole/base/images/delete.png' %}" alt="Deletar"
                                    class="icon-small">
                            </a>
                        </form>
                    </div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <form method="get" action="{% url 'categoria_export' %}" id="form-export">
        {% csrf_token %}
        <button type="submit" class="export-button btn-md">Exportar</button>
    </form>

</section>
<script src="{% static 'descontrole/base/js/confirm-deletion.js' %}" type="text/javascript"></script>
{% endblock %}