{% extends "../base/base.html" %}
{% block title %}Eventos{% endblock %}
{% load static %}

{% block content %}

<section class="form-section">
    <div class="form-container">
        <div class="card">
            <form id="create-form" action="{% url 'evento_create' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="save-btn">Salvar</button>
            </form>
        </div>
    </div>
</section>

<!-- Modals -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-form" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="save-btn">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar deleção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você tem certeza de que quer deletar essa categoria? Isso removerá a relação com os eventos registrados.
                <form id="delete-form" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Deletar</button>
                    <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="table-section mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Natureza</th>
                <th scope="col">Tipo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor (R$)</th>
                <th scope="col">Descrição</th>
                <th scope="col" class="th-actions"></th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td class="td-nome">{{ evento.data }}</td>
                <td class="td-desc">{{ evento.natureza }}</td>
                <td class="td-desc">{{ evento.tipo }}</td>
                <td class="td-desc">{{ evento.categoria }}</td>
                <td class="td-desc">{{ evento.valor }}</td>
                <td class="td-desc">{{ evento.descricao }}</td>
                <td class="td-actions">
                    <div class="edit-group">
                        <button type="button" class="edit-btn no-style-btn" data-bs-toggle="modal"
                            data-bs-target="#editModal" data-id="{{ evento.id }}" data-data="{{ evento.data }}"
                            data-descricao="{{ evento.descricao }}">
                            <img src="{% static 'descontrole/base/images/edit.png' %}" alt="Editar" class="icon-small">
                        </button>
                        <button type="button" class="delete-btn no-style-btn" data-bs-toggle="modal"
                            data-bs-target="#deleteModal" data-id="{{ evento.id }}">
                            <img src="{% static 'descontrole/base/images/delete.png' %}" alt="Deletar"
                                class="icon-small">
                        </button>
                    </div>
                </td>
            </tr>
            {% empty %}
            {% endfor %}
        </tbody>
    </table>

    <form method="get" action="" id="form-export">
        {% csrf_token %}
        <button type="submit" class="export-button">Exportar</button>
    </form>
</section>
<script src="{% static 'descontrole/base/js/evento.js' %}"></script>
{% endblock %}