body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.custom-header {
    background-color: #8fc97c;
}

.logo {
    max-height: 60px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: none;
    color: #fff;
    background-color: #8fc97c;
    border-radius: 0;
    padding: 10px 20px;
}

.nav-tabs .nav-link.active {
    color: #4b7a3c;
    background-color: #ffffff;
    border-bottom: 3px solid #4b7a3c;
    border-radius: 10px 10px 0 0;
}

.nav-tabs .nav-link:hover {
    color: #4b7a3c;
    background-color: #ffffff;
}

.nav-item .nav-link.disabled {
    color: #ccc;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.form-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #99cc66;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #88b55c;
}

.table-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #99cc66;
    color: white;
}

.export-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #99cc66;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.export-button:hover {
    background-color: #88b55c;
}