{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'descontrole/base/styles.css' %}">
</head>

<body>
    <header class="bg-light py-3">
        <div>

            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Evento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Consulta</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>