{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'descontrole/base/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'descontrole/base/css/datepicker.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"
        integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg=" crossorigin="anonymous"></script>
</head>

<body>
    <header class="custom-header py-3 position-relative">
        <div class="container d-flex align-items-center justify-content-center ms-2">
            <a href="{% url 'index' %}">
                <img src="{% static 'descontrole/base/images/logo.svg' %}" alt="De$-Controle" class="logo start-0 me-4">
            </a>
            <ul class="nav nav-tabs">
                <li class="nav-item justify-content-center">
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categoria_index' %}">Categoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'evento_index' %}">Evento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'consulta_index' %}" tabindex="-1"
                        aria-disabled="true">Consulta</a>
                </li>
            </ul>

        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'descontrole/base/js/common.js' %}"></script>
</body>

</html>